<center><b><h3>1: Fraudulent retail accounts</h3></b></center>

Hi, 
You are given a list of numbers J and a single number p.  Write a function to return the minimum and maximum averages of the sequences of p numbers in the list J.


    
For example:


    
    
# Array of numbers
    

J = [4, 4, 4, 9, 10, 11, 12]
    

# Length of sequences, p
    

p = 3
    


    
Here, the sequences will be:


    

    
(4,4,4)

    
(4,4,9)

    
(4,9,10)

    
(9,10,11)

    
(10,11,12)

    

    
    
    
From the above we can see that the minimum average will be 4 and the maximum average will be 11, which corresponds to the first and last sequences.
    
Solution will be written in Python for premium users.


Youâ€™ve accumulated 2 questions since joining our email list. Create a premium account to access detailed solutions to each problem (including this one) + our new Case studies.

In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
#create dataframe with dummy values
d = {
   'store_id': [1,2,3,4,5,6,7,8,9,10,11,12],
    'date': ['1.01.22 1000','1.01.21 0930', '1.01.20 2208', '1.01.19 0508', '1.01.22 1200', '1.01.18 1159', '1.01.22 1000', '1.01.21 0930', '1.01.20 2208', '1.01.19 0508', '1.01.22 1759', '1.01.18 0559'],
    'status': ['open', 'closed', 'fraud', 'closed', 'fraud', 'fraud', 'open', 'closed', 'fraud', 'open', 'fraud', 'fraud'],
    'revenue': [12,2,0,0.9,0.5,13,23,76,-5,0,4,13]    
}

store_account = pd.DataFrame(data=d)

print(store_account.head())
print(store_account.info())

   store_id          date  status  revenue
0         1  1.01.22 1000    open     12.0
1         2  1.01.21 0930  closed      2.0
2         3  1.01.20 2208   fraud      0.0
3         4  1.01.19 0508  closed      0.9
4         5  1.01.22 1200   fraud      0.5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   store_id  12 non-null     int64
 1   date      12 non-null     object
 2   status    12 non-null     object
 3   revenue   12 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 512.0+ bytes
None

In [3]:
#convert 'data' column to datetime dtype
store_account['date'] = pd.to_datetime(store_account.date)

store_account.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   store_id  12 non-null     int64
 1   date      12 non-null     datetime64[ns]
 2   status    12 non-null     object
 3   revenue   12 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 512.0+ bytes

In [4]:
#mask the 3 conditions (active, fraudulent & day)
active_mask = (store_account['status']=='fraud')
revenue_mask = (store_account['revenue'] > 0)
time_mask = (store_account['date'].dt.hour >= 6) & (store_account['date'].dt.hour <= 18)

In [5]:
#apply masks to dataframe
masked_store_account = store_account[active_mask & revenue_mask & time_mask]

masked_store_account.head()

    store_id                date status  revenue
4          5 2022-01-01 12:00:00  fraud      0.5
5          6 2018-01-01 11:59:00  fraud     13.0
10        11 2022-01-01 17:59:00  fraud      4.0

In [7]:
per_active_store_fraud = (len(masked_store_account)/len(store_account) * 100)

print(round(per_active_store_fraud, 2))

25.0

<b>Findings:</b> 25.0% of active stores were classified as fraudulent during the day time (6am to 6pm).